<h1><%= @comment.post.title %></h1>
<h2>Edit your comment:</h2>
<form action="/comments/<%= @comment.id %>" method="post">
  <input name="content" type="hidden">
      <div id="editor"><%= @comment.content %></div>
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="Update">
</form>
<form action="/comments/<%= @comment.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Comment">
</form>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var toolbarOptions = [['bold', 'italic', 'underline'], ['link']]
  var quill = new Quill('#editor', {
    placeholder: "Post Comment",
    theme: 'snow',
    modules: {toolbar: toolbarOptions}
  });
  var form = document.querySelector('form');
  form.onsubmit = function() {
  // Populate hidden form on submit
  var content = document.querySelector('input[name=content]');
  content.value = JSON.stringify(quill.getContents());
  return true;
};
</script>
