<form action="/signup" method="post"><br>
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="text" name="username" placeholder="username"><br>
  <input type="email" name="email" placeholder="Email address"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="password" name="password" placeholder="Confirm Password"><br>
  <input type="submit" id="submit" value="Sign Up!">
</form>
