<form action="/posts/<%= @post.id %>" method="post">
  <input type="text" name="title" value="<%= @post.title %>">
  <textarea name="content"><%= @post.content %></textarea>
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="Post">
</form>
<form action="/posts/<%= @post.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post and All Comments">
</form>
