<form action="/posts" method="post">
  <input type="text" name="title" placeholder="Post Title">
  <textarea name="content" placeholder="Post Content"></textarea>
  <input type="submit" value="Post">
</form>
